.columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
}

.miniHeight {
  height: 2.75rem;
}

.fullHeight {
  grid-row: 1 / span 5;
}
