.toast {
  bottom: 1.5rem;
  left: 1.5rem;
  right: auto;
  min-width: 18rem;
  z-index: 1400;
  position: fixed;
  border: 0.063rem solid var(--ttui_common-0);
  border-radius: 0.5rem;
  background: var(--ttui_grey-900);
  padding: 0.625rem;
  opacity: 0;
  display: block;
  transform: scale(0.8);
  transition:
    opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  pointer-events: none;
  box-shadow: var(--ttui_box-shadow-1);
}

.toast[open] {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

.toast.right {
  left: auto;
  right: 1.5rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--ttui_grey-900);
}
