body { 
  margin: 10px auto;
   overflow-x: hidden;
    padding: 0 20px;
     max-width: 1024px;
      --background: 255, 255, 255;
       --color: 0, 0, 0; 
      }

@media (prefers-color-scheme: dark) { 
  body { 
    --background: 34, 34, 34;
     --color: 229, 229, 229; 
    background-color: #111;
    color: #ddd;
    } 
    }

.tab-pane { 
  padding: 10px 16px;
   color: rgb(var(--color));
    background-color: rgb(var(--background));
     border: 1px solid transparent;
      border-bottom-left-radius: .25rem;
       border-bottom-right-radius: .25rem;
       display: none;
       }

.tab-pane.active {
    display: block;
}

.inputs {
   padding: 0 10px;
   }

.form-group { 
  margin-bottom: 5px;
   position: relative;
   }

textarea.output { resize: none;
   white-space: nowrap;
    overflow-x: auto;
   }

.macro-name::before { 
  content: "Macro Name: "; 
  font-weight: bold;
 }

.result::before { content: "Result: ";
   font-weight: bold;
   }

/* Dark tab headings */ 
.nav-tabs.bg-dark { 
  border-top-left-radius: .25rem;
   border-top-right-radius: .25rem;
    overflow: hidden;
   } 
  .nav-tabs.bg-dark .nav-link {
     border-radius: 0;
      color: rgba(var(--color));
     } 
  .nav-tabs.bg-dark .nav-link.active {
       border-color: rgba(var(--color), 0.4) rgba(var(--color), 0.4) rgba(var(--color), 1);
       background-color: #333;
       } 
       
.bg-dark a { 
  color: #ccc; 
}

/* Simple “drawer” styling for extension settings */ 
.inline-drawer { 
  display: block; 
  position: relative; 
  z-index: 9999; 
  background-color: 
  rgba(var(--background)); 
  border: 1px solid #ccc; 
  padding: 10px;
}

.inline-drawer-header { 
  display: flex; 
  justify-content: space-between; 
  cursor: pointer;
 }

.inline-drawer-content { 
  margin-top:
   8px;
   }

.char-nav-tabs {
    cursor: pointer;
    padding: 10px 15px;
    margin: 0;
    border: none;
    color: rgba(var(--color));
}

.char-nav-tabs.active {
    background-color: rgba(var(--background));
    border-bottom: 2px solid rgba(var(--color));
}

.char-tabs {
  display: flex;
  margin-bottom: 1rem;
}

.char-tab {
  margin-right: 0.5rem;
  cursor: pointer;
  padding: 8px 12px;