.labelChip {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  background: var(--ttui_grey-200);
  border-radius: 2px;
  color: var(--ttui_grey-900);
  margin: 0.5rem;
  padding: 0 0.45rem;
  font-size: 0.75rem;
  font-family: var(--ttui_font-roboto);
  line-height: 1.2rem;
}

.labelChip:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: block;
  height: 2px;
  width: 100%;
  z-index: 2;
}
