.ct-extras-mobile {
  @include mobileDividerContentBlock();

  .ct-extras-filter {
    &__callout {
      order: 1;
      width: 100%;
      padding-left: 0;
      margin-bottom: 10px;
      text-align: center;
    }

    &__box {
      order: 2;
    }

    &__advanced {
      order: 3;
    }

    &__interactions {
      flex-wrap: wrap;
    }
  }

  .ct-extra-row__primary {
    flex: 1;
  }

  .ct-extra-list__col--primary {
    flex: 1;
  }
}

.ct-character-sheet-mobile--dark-mode {
  .ct-extras-mobile {
    background-color: $ct--theme-dark-mode-bg-mobile;
  }
}
