html {
  box-sizing: border-box;
  position: relative;
  -webkit-overflow-scrolling: touch;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
}

body {
  background: #f9f9f9 url(../../../images/background_texture.png) repeat;
  overflow-y: scroll;
}
@media (max-width: 1023px) {
  html body.responsive-enabled {
    background: #f9f9f9 url(../../../images/background_texture.png) repeat;
  }
  html body.body-rpgmagicitem-details, html body.body-rpgmonster-details, html body.body-rpgspell-details, html body.body-rpgigear-details {
    background: #fff;
  }
}
body > img,
body > object,
body #analytics,
body #cdm-zone-end {
  display: none !important;
}

.hide {
  display: none !important;
}

p {
  margin: 0 0 15px;
}

label {
  cursor: default;
}

*::-moz-selection {
  background: #222 !important;
}

*::selection {
  background: #222 !important;
}

body.responsive-enabled #site #site-main .atf {
  max-width: 1200px;
}

input,
select {
  font-family: Roboto, Helvetica, sans-serif !important;
}

.site #content {
  background: none;
}

.flash-messages,
.body-rpgcharacter-sheet #debug-bar,
.body-rpgcharacterbuilder #debug-bar {
  z-index: 999;
}

@media print {
  body {
    background: none !important;
  }
}
.page-header__extras {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

.body-mycontent .page-heading {
  border-bottom: 3px solid #1b9af0;
  padding-bottom: 8px;
  padding-top: 16px;
}

.page-heading__content {
  display: inline-block;
  vertical-align: middle;
}

.page-title {
  font-size: 36px;
  font-family: "Roboto Condensed", Roboto, Helvetica, sans-serif;
  color: #242527;
  padding: 0 !important;
  line-height: 1.3;
  font-weight: bold;
  margin: 0;
}

.page-header {
  padding: 0 10px;
  width: auto !important;
  max-width: 1200px !important;
}

.page-header__primary {
  position: relative;
}

body input[type=search] {
  box-shadow: unset;
}
body input[type=search]:focus, body input[type=search]:hover {
  border-color: unset;
  box-shadow: unset;
  background-color: unset;
}

.rpgcharacter-listing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 760px) {
  .rpgcharacter-listing {
    justify-content: flex-start;
  }
}
.rpgcharacter-listing .no-results {
  margin: 0 auto;
}

stcs-campaigns-character-card {
  border: 1px solid #d1cdca;
  background: #fff;
  position: relative;
}
stcs-campaigns-character-card-wrapper {
  padding: 10px;
  width: 100%;
  max-width: 600px;
}
@media (min-width: 760px) {
  stcs-campaigns-character-card-wrapper {
    width: 50%;
    max-width: 50%;
  }
}
@media (min-width: 1100px) {
  stcs-campaigns-character-card-wrapper {
    width: 33.3333333333%;
  }
}
stcs-campaigns-character-card-header {
  position: relative;
  padding: 30px 20px;
}
stcs-campaigns-character-card-header-cover-image {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
stcs-campaigns-character-card-header-cover-image-user-backdrop {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
stcs-campaigns-character-card-header-cover-image::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
stcs-campaigns-character-card-header-upper, stcs-campaigns-character-card-header-lower {
  position: relative;
  z-index: 1;
}
stcs-campaigns-character-card-header-upper {
  display: flex;
  align-items: center;
}
stcs-campaigns-character-card-header-upper-details-link {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}
stcs-campaigns-character-card-header-upper-portrait {
  flex: 0 0 auto;
}
stcs-campaigns-character-card-header-upper-portrait .image {
  border-radius: 3px;
  height: 60px;
  width: 60px;
  margin-right: 10px;
}
stcs-campaigns-character-card-header-upper-portrait .image.user-selected-avatar {
  background-position: center center;
  background-size: cover;
}
stcs-campaigns-character-card-header-upper-character-info {
  flex: 1 1 100%;
  min-width: 0;
  padding-right: 10px;
}
stcs-campaigns-character-card-header-upper-character-info-secondary {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  font-family: "Roboto Condensed", Roboto, Helvetica, sans-serif;
}
stcs-campaigns-character-card-header-upper-character-info-secondary {
  color: #bdbdbd;
}
stcs-campaigns-character-card-header-upper-hit-points {
  margin-left: auto;
  flex: 0 0 auto;
}
stcs-campaigns-character-card-header-upper-hit-points .hit-points-label {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 9px;
  text-align: center;
}
stcs-campaigns-character-card-header-upper-hit-points .hit-points-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
stcs-campaigns-character-card-header-upper-hit-points .hit-points-wrapper > div {
  color: #fff;
  font-size: 18px;
  text-align: center;
}
stcs-campaigns-character-card-header-lower {
  padding-top: 20px;
}
stcs-campaigns-character-card-header-lower-statblock {
  display: flex;
  justify-content: space-around;
}
stcs-campaigns-character-card-header-lower-statblock-item {
  flex: 20%;
}
stcs-campaigns-character-card-header-lower-statblock-item-label {
  color: #fff;
  font-size: 9px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  max-width: 50px;
  margin: 0 auto;
}
stcs-campaigns-character-card-header-lower-statblock-item-value {
  color: #fff;
  font-size: 20px;
  text-align: center;
}
stcs-campaigns-character-card-header-lower-statblock-item-value .small {
  color: #979aa4;
  font-size: 11px;
  font-weight: bold;
  vertical-align: middle;
  margin: 0 2px;
  text-transform: uppercase;
}
stcs-campaigns-character-card-body {
  padding: 20px;
}
stcs-campaigns-character-card-body-statblock {
  display: flex;
  flex-wrap: wrap;
  margin: -10px 0;
}
stcs-campaigns-character-card-body-statblock-item {
  flex: 33.3333333333%;
  padding: 10px 0;
}
stcs-campaigns-character-card-body-statblock-item-label {
  font-size: 9px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
stcs-campaigns-character-card-body-statblock-item-value {
  font-size: 20px;
  text-align: center;
}
stcs-campaigns-character-card-body-statblock-item-value .score,
stcs-campaigns-character-card-body-statblock-item-value .modifier {
  display: inline;
}
stcs-campaigns-character-card-body-statblock-item-strength-label::before {
  content: "";
  background-image: url(../../../images/icons/abilities/strength.svg);
  background-size: cover;
  background-position: center center;
  display: inline-block;
  margin-right: 5px;
  height: 11px;
  width: 11px;
}
stcs-campaigns-character-card-body-statblock-item-strength .score {
  color: #bf2225;
}
stcs-campaigns-character-card-body-statblock-item-dexterity-label::before {
  content: "";
  background-image: url(../../../images/icons/abilities/dexterity.svg);
  background-size: cover;
  background-position: center center;
  display: inline-block;
  margin-right: 5px;
  height: 11px;
  width: 11px;
}
stcs-campaigns-character-card-body-statblock-item-dexterity .score {
  color: #41474d;
}
stcs-campaigns-character-card-body-statblock-item-constitution-label::before {
  content: "";
  background-image: url(../../../images/icons/abilities/constitution.svg);
  background-size: cover;
  background-position: center center;
  display: inline-block;
  margin-right: 5px;
  height: 11px;
  width: 11px;
}
stcs-campaigns-character-card-body-statblock-item-constitution .score {
  color: #79614c;
}
stcs-campaigns-character-card-body-statblock-item-intelligence-label::before {
  content: "";
  background-image: url(../../../images/icons/abilities/intelligence.svg);
  background-size: cover;
  background-position: center center;
  display: inline-block;
  margin-right: 5px;
  height: 11px;
  width: 11px;
}
stcs-campaigns-character-card-body-statblock-item-intelligence .score {
  color: #f96a3b;
}
stcs-campaigns-character-card-body-statblock-item-wisdom-label::before {
  content: "";
  background-image: url(../../../images/icons/abilities/wisdom.svg);
  background-size: cover;
  background-position: center center;
  display: inline-block;
  margin-right: 5px;
  height: 11px;
  width: 11px;
}
stcs-campaigns-character-card-body-statblock-item-wisdom .score {
  color: #879399;
}
stcs-campaigns-character-card-body-statblock-item-charisma-label::before {
  content: "";
  background-image: url(../../../images/icons/abilities/charisma.svg);
  background-size: cover;
  background-position: center center;
  display: inline-block;
  margin-right: 5px;
  height: 11px;
  width: 11px;
}
stcs-campaigns-character-card-body-statblock-item-charisma .score {
  color: #edb451;
}
stcs-campaigns-character-card-campaign-links {
  z-index: 1;
  position: absolute;
  top: 86px;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 8px;
  background: #1c1d1e;
  border: 1px solid rgba(151, 154, 164, 0.4);
}
stcs-campaigns-character-card-campaign-links-campaign {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #979aa4;
}
#site stcs-campaigns-character-card-campaign-links-campaign-link, #site stcs-campaigns-character-card-campaign-links-campaign-link:hover, #site stcs-campaigns-character-card-campaign-links-campaign-link:focus, #site stcs-campaigns-character-card-campaign-links-campaign-link:active, #site stcs-campaigns-character-card-campaign-links-campaign-link:visited {
  color: #1b9af0;
}
stcs-campaigns-character-card-campaign-links-actions {
  width: 30%;
  margin-left: 3px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 400px) {
  stcs-campaigns-character-card-campaign-links-actions {
    flex: 1;
  }
}
stcs-campaigns-character-card-footer {
  border-top: 1px solid #dedede;
  padding: 0 20px;
}
stcs-campaigns-character-card-footer-links {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
stcs-campaigns-character-card-footer-links-unlocking {
  color: #fff;
  font-size: 15px;
  background: #308e52;
  text-align: center;
  padding: 3px 15px;
  border-radius: 4px;
}
stcs-campaigns-character-card-footer-links-more {
  z-index: 10;
}
stcs-campaigns-character-card-footer-links-more::before {
  background-image: url("../../../images/icons/sheet-icon-dark.svg");
}
stcs-campaigns-character-card-footer-links-more .links {
  visibility: visible !important;
  display: flex !important;
  align-items: flex-start;
  flex-direction: row;
  flex: 0 1 auto;
  background: none;
  width: auto;
  z-index: 999;
  padding: 0;
  margin-left: auto;
  position: static;
}
stcs-campaigns-character-card-footer-links-more .links a {
  margin: 0;
  width: auto !important;
  padding: 0 15px;
  display: table !important;
}
stcs-campaigns-character-card-footer-links-more .links a span {
  width: 100%;
  padding: 0;
}
stcs-campaigns-character-card-footer-links-more .links a:not(:first-of-type) {
  margin: 0 0 0 10px !important;
}
stcs-campaigns-character-card-footer-links-more .links .button-alt-group-item {
  display: block !important;
  margin: 0 auto !important;
  padding: 0 15px !important;
  max-width: 250px;
  background: #242527;
  border-bottom: 1px solid #333;
  color: #979aa4;
  line-height: 33px;
  font-family: "Roboto Condensed", Roboto, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  white-space: nowrap;
}
stcs-campaigns-character-card-footer-links-more .links .button-alt-group-item:hover {
  color: #fff;
}
stcs-campaigns-character-card-footer-links-more .links .button-alt-group-item:not(:first-of-type) {
  margin: 0 !important;
}
#site stcs-campaigns-character-card-footer-links-item {
  text-transform: uppercase;
  font-family: "Roboto Condensed", Roboto, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
}
#site stcs-campaigns-character-card-footer-links-item, #site stcs-campaigns-character-card-footer-links-item:hover, #site stcs-campaigns-character-card-footer-links-item:focus, #site stcs-campaigns-character-card-footer-links-item:active, #site stcs-campaigns-character-card-footer-links-item:visited {
  color: #1b9af0;
}
#site stcs-campaigns-character-card-footer-links-item-edit, #site stcs-campaigns-character-card-footer-links-item-view, #site stcs-campaigns-character-card-footer-links-item-claim, #site stcs-campaigns-character-card-footer-links-item-more {
  display: flex;
  align-items: flex-start;
}
#site stcs-campaigns-character-card-footer-links-item-edit::before, #site stcs-campaigns-character-card-footer-links-item-view::before, #site stcs-campaigns-character-card-footer-links-item-claim::before, #site stcs-campaigns-character-card-footer-links-item-more::before {
  content: "";
  height: 14px;
  width: 14px;
  display: inline-block;
  background-size: cover;
  margin-right: 3px;
}
#site stcs-campaigns-character-card-footer-links-item-edit::before {
  background-image: url("../../../images/icons/menu_items/dark/builders.svg");
}
#site stcs-campaigns-character-card-footer-links-item-view::before {
  background-image: url("../../../images/icons/sheet-icon-dark.svg");
}
#site stcs-campaigns-character-card-footer-links-item-claim::before {
  background-image: url("../../../images/icons/flag-grey.svg");
}
#site stcs-campaigns-character-card-footer-links-item-remove, #site stcs-campaigns-character-card-footer-links-item-remove:hover, #site stcs-campaigns-character-card-footer-links-item-remove:focus, #site stcs-campaigns-character-card-footer-links-item-remove:active, #site stcs-campaigns-character-card-footer-links-item-remove:visited, #site stcs-campaigns-character-card-footer-links-item-delete, #site stcs-campaigns-character-card-footer-links-item-delete:hover, #site stcs-campaigns-character-card-footer-links-item-delete:focus, #site stcs-campaigns-character-card-footer-links-item-delete:active, #site stcs-campaigns-character-card-footer-links-item-delete:visited, #site stcs-campaigns-character-card-footer-links-item-unclaim, #site stcs-campaigns-character-card-footer-links-item-unclaim:hover, #site stcs-campaigns-character-card-footer-links-item-unclaim:focus, #site stcs-campaigns-character-card-footer-links-item-unclaim:active, #site stcs-campaigns-character-card-footer-links-item-unclaim:visited {
  color: #c65854;
}
#site stcs-campaigns-character-card-footer-links-item-more::before {
  background-image: url("../../../images/icons/chevron-down-grey.svg");
}
stcs-campaigns-detail-body-listing-inactive stcs-campaigns-character-card-header, stcs-campaigns-detail-body-listing-inactive stcs-campaigns-character-card-body {
  filter: saturate(0);
}
stcs-campaigns-character-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  z-index: -1;
}

.hide-ads stcs-campaigns-character-card-header-upper-details-link[aria-hidden=true] {
  display: block !important;
  visibility: visible !important;
}

stcs-campaigns-character-card-footer-links.is-unlocking {
  justify-content: flex-start;
  height: auto;
  padding-top: 8px;
  padding-bottom: 12px;
  gap: 0.5rem;
}

stcs-campaigns-character-card {
  position: relative;
}/*# sourceMappingURL=CharacterCard.css.map */