@import "../Icons/Icons.module.css";

.footer {
  background: var(--ttui_common-500);
}

.policyBar {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 2.8125rem;
  background-color: var(--ttui_common-1000);
}

.policyText {
  margin: 0;
  padding: 0.75rem 3.75rem;
  color: var(--ttui_grey-400);
  font-size: 0.8125rem;
  line-height: 1.3125rem;
  text-align: center;
}

.mainSection {
  box-sizing: border-box;
  justify-content: start;
  max-width: 90rem;
  margin: 0 auto;
  padding: 2.5rem 3rem 1.5rem 3.25rem;
}

.dndLogo {
  width: 11.125rem;
}

.heading2 {
  margin: 0;
  margin-bottom: 0.75rem;
  color: var(--ttui_grey-400);
  font-size: 0.75rem;
  line-height: 1.3125rem;
  font-weight: 700;
  text-transform: uppercase;
}

.list {
  list-style-type: none;
  margin: 0;
  margin-bottom: 1.5rem;
  padding: 0;
}

.listItem {
  margin-bottom: 0.25rem;
}

.link {
  color: var(--ttui_common-0);
  font-size: 0.875rem;
  line-height: 1.3125rem;
  text-decoration: none;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.link:hover {
  color: var(--ttui_grey-400);
  text-decoration: none;
}

.socialIconsBox {
  margin-top: 0.625rem;
  margin-bottom: 1.5rem;
}

.socialIcon {
  width: 1.1rem;
  height: 1.25rem;
  margin-right: 1rem;
  margin-bottom: 0.625rem;
  fill: var(--ttui_common-0);
}

.socialIconLast {
  margin-right: 0;
}

.paymentIconsBox {
  margin-top: 0.625rem;
  margin-bottom: 1.5rem;
}

.paymentIcon {
  width: 2.1875rem;
  margin-right: 1rem;
}

.paymentIconLast {
  margin-right: 0;
}

.googlePlayBadge {
  display: block;
  width: 7.375rem;
  margin-top: 0.625rem;
  margin-bottom: 0.5rem;
}

.appStoreBadge {
  display: block;
  width: 7.375rem;
}

.bottomBarParagraph {
  margin: 0;
  margin-bottom: 0.625rem;
  color: var(--ttui_grey-400);
  font-size: 0.75rem;
  line-height: 1.3125rem;
  font-weight: 500;
}

.bottomBarParagraphBold {
  text-transform: uppercase;
  font-weight: 700;
}

.bottomBarLink {
  align-self: center;
  margin-bottom: 1rem;
  color: var(--ttui_grey-400);
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.3125rem;
  text-decoration: none;
  text-transform: uppercase;
}

.bottomBarPrivacyImageLink {
  display: inline-grid;
  align-self: center;
}

.bottomBarPrivacyImg {
  width: 2.625rem;
}

.mainSectionContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  column-gap: 2.5rem;
}

.mainSectionLogo {
  grid-column: span 2;
  place-self: center;
  margin-bottom: 3.65rem;
}

.mainSectionSocialIcons {
  grid-column: span 2;
}

.mainSectionMobileApps {
  grid-column: span 2;
}

.bottomBarContainer {
  background-color: var(--ttui_common-1000);
}

.bottomBar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  grid-column-gap: 1.875rem;
  box-sizing: border-box;
  max-width: 90rem;
  margin: 0 auto;
  padding: 1.5rem 3.25rem;
}

.bottomBarText {
  grid-column: span 2;
  margin-bottom: 1rem;
}

@media screen and (width >= 30rem) {
  .socialIcon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1.5rem;
  }
}

@media screen and (width >= 60rem) {
  .heading2 {
    margin-bottom: 0.25rem;
  }

  .policyText {
    font-size: 0.9375rem;
  }

  .mainSection {
    padding: 4rem 3rem;
  }

  .list,
  .paymentIconsBox,
  .bottomBarLink,
  .bottomBarText {
    margin-bottom: 0;
  }

  .bottomBarText {
    margin-right: 6.5rem;
  }

  .link {
    font-size: 0.9375rem;
  }

  .socialIconsBox {
    margin-bottom: 3.875rem;
  }

  .bottomBarParagraph {
    margin-bottom: 0.25rem;
  }

  .mainSectionContainer {
    grid-template-columns: repeat(5, auto);
    grid-template-rows: 1fr auto;
    column-gap: 1.875rem;
  }

  .mainSectionLogo {
    grid-column: unset;
    place-self: start;
    margin-bottom: 0;
  }

  .mainSectionSocialIcons,
  .mainSectionMobileApps,
  .bottomBarText {
    grid-column: unset;
  }

  .bottomBar {
    grid-template-columns: 11fr auto auto 2.625rem;
    grid-template-rows: 1fr auto;
    padding: 0.875rem 3rem 1rem;
  }
}

@media screen and (width >= 76.75rem) {
  .mainSectionContainer {
    column-gap: 4rem;
  }
}
