.megaMenu {
  height: 3.5rem;
  background: var(--ttui_color-megamenu--main);
  position: relative;
  display: none;
}

.content {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  list-style: none;
}

.content,
.content > li,
.panelButton,
.button,
.link {
  height: 100%;
}

.content hr {
  display: block;
  width: 100%;
  opacity: 0.1;
  padding: 0;
  margin-right: 0;
}

.link {
  color: var(--ttui_color-megamenu--contrast);
  user-select: none;
  display: inline-flex;
  align-items: center;
  padding: 0;
  margin: 0 1rem;
  opacity: 0.7;
  text-decoration: none;
  font-size: 0.9rem;
  transition: opacity 0.25s;
  cursor: pointer;
}

.link:hover {
  opacity: 1;
  color: var(--ttui_color-megamenu--contrast); /* override Waterdeep styles */
}

.link:visited {
  color: var(--ttui_color-megamenu--contrast); /* override Waterdeep styles */
}

.panelButton {
  color: var(--ttui_color-megamenu--contrast);
  user-select: none;
  padding: 0 0.5rem;
  cursor: pointer;
}

.panelButton:hover > p {
  opacity: 1;
}

.button {
  composes: link;
  background: none;
  border: none;
  margin: 0;
  display: flex;
  align-items: center;
}

.caretDown {
  fill: var(--ttui_color-megamenu--contrast);
  margin-left: 0.25rem;
}

@media screen and (min-width: 64rem) {
  .megaMenu {
    display: block;
  }
}
