.twoColumns {
  column-count: 2;
}

.divider {
  margin: 0 16px 0 0;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 0.469rem;
}

.icon {
  margin-right: 0.625rem;
}

.link {
  text-decoration: none;
  display: inline-block;
  opacity: 0.7;
  transition: opacity 0.25s;
}

.link:hover {
  opacity: 1;
}

.linkText {
  color: var(--ttui_color-megamenu--contrast);
  display: block;
  font-size: 0.875rem;
  line-height: 1.85;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.flags {
  display: flex;
  gap: 0.3rem;
  padding: 0.05rem 0;
  flex-wrap: wrap;
}

.flag {
  display: inline-block;
  font-size: 0.75rem;
  font-weight: 700;
  font-style: italic;
  line-height: 0.75rem;
}

.free {
  color: var(--ttui_green-300);
}

.new {
  color: var(--ttui_red-300);
}

.comingSoon {
  color: var(--ttui_purple-300);
}

.thirdParty {
  color: var(--ttui_pink-300);
}

@media screen and (min-width: 56.25rem) {
  .link {
    max-width: calc(25vw - 5.313rem);
  }
}

@media screen and (min-width: 75rem) {
  .link {
    max-width: 14.063 rem;
  }
}

@media screen and (min-width: 93.75rem) {
  .link {
    max-width: 14.688 rem;
  }
}
