.my-characters-wrapper {
  position: relative;
  z-index: 0;
}

.ddbcl-my-characters-listing .listing__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.ddbcl-my-characters-listing .ddb-characters-listing-actions__search-clear,
.ddbcl-my-characters-listing .ddb-campaigns-character-card-footer-links-item {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  border: none;
}
.ddbcl-my-characters-listing .ddb-campaigns-character-card-footer-links-item {
  padding: 0;
}
.ddbcl-my-characters-listing .ddb-characters-listing__loading-indicator-wrapper {
  display: flex;
  justify-content: center;
}
.ddbcl-my-characters-listing__version {
  font-size: 0.625rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.ddbcl-my-characters-listing .ddb-characters-listing-count-unlock-message__subscribe-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-family: "Roboto Condensed", Roboto, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  background: #1b9af0;
  height: 50px;
  width: 100%;
  max-width: 300px;
  min-width: 250px;
  box-shadow: none;
  border: none;
  transition: 100ms linear all;
  text-transform: uppercase;
  text-shadow: none;
  display: inline-flex;
  padding: 6px 10px;
  width: auto;
  min-width: 0 !important;
  line-height: 1;
  height: auto !important;
}
.ddbcl-my-characters-listing .ddb-characters-listing-count-unlock-message__subscribe-link:hover {
  background: #4baff3;
}
.ddbcl-my-characters-listing .ddb-characters-listing-count-unlock-message__subscribe-link, .ddbcl-my-characters-listing .ddb-characters-listing-count-unlock-message__subscribe-link:hover, .ddbcl-my-characters-listing .ddb-characters-listing-count-unlock-message__subscribe-link:focus, .ddbcl-my-characters-listing .ddb-characters-listing-count-unlock-message__subscribe-link:active, .ddbcl-my-characters-listing .ddb-characters-listing-count-unlock-message__subscribe-link:visited {
  color: #fff;
}
@media (min-width: 1024px) {
  .ddbcl-my-characters-listing .ddb-characters-listing-count-unlock-message__subscribe-link {
    height: 35px;
    font-size: 12px;
    min-width: 180px;
  }
}
.ddbcl-my-characters-listing .ddb-characters-listing-count-unlock-message__subscribe-link:hover {
  transition: 100ms linear all;
  background: #4baff3;
}
.ddbcl-my-characters-listing .ddb-characters-listing-count-unlock__count {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 12px 0;
  font-size: 16px;
  font-weight: bold;
}
.ddbcl-my-characters-listing .ddb-characters-listing-count-unlock__finalize-button {
  margin: 12px auto;
}
.ddbcl-my-characters-listing .ddb-characters-listing-count-unlock__api-message {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 12px 12px;
}
.ddbcl-my-characters-listing ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
.ddbcl-my-characters-listing ul.listing {
  margin-bottom: 19.5px;
}

.ddb-characters-listing-header-secondary {
  justify-content: center;
}

html body.body-mycontent-characterindex .container {
  max-width: 1200px !important;
}

html body.body-mycontent-characterindex header.page-header {
  display: none !important;
}

html body.body-mycontent-characterindex .container {
  width: auto;
  margin: 0 auto;
}

#site-main section.atf {
  width: unset;
}

@media (min-width: 1024px) {
  html body.body-mycontent-characterindex header.page-header {
    display: block !important;
  }
}
html body.body-mycontent-characterindex .container .content {
  padding: 20px 10px !important;
}

@media (min-width: 1024px) {
  html body.body-mycontent-characterindex .container .content {
    padding: 15px 10px !important;
  }
}/*# sourceMappingURL=MyCharacters.css.map */